<div mat-dialog-content>
  <p>Add New Task</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.title" name="title" id="title" placeholder="Task Title" required minlength="3"
      #nameValidation="ngModel" cdkFocusInitial>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button [mat-dialog-close]="data.title" (click)="AddTask(data)" [disabled]="nameValidation.invalid">Add</button>
  <mat-spinner mode="indeterminate" diameter="20" *ngIf="showLoader"></mat-spinner>
</div>
